*{
	margin:0;
	padding:0;
	outline: none;
	font-family: "微软雅黑";
}
body{
	min-width:1200px;
}
.header{
	background-color:#07cbc9;
	height:80px;
	width:100%;
}
.header img{
	float:left;
	position:relative;
	left:100px;
	top:12px;
}
.header ul{
	float:right;
	margin-right: 100px;
}
.header ul li{
	float:left;
	list-style-type:none;
	padding:30px;
	margin-top:-1px;
}
.header ul li:hover{
	background-color: #000;
}
.header ul li a{
	font-size: 15px;
	color:#fff;
	text-decoration: none; /*去除默认样式*/
	text-transform: uppercase;/*字母全大写*/
	font-weight: bold;
}
.banner img{
	width: 100%;
	min-width: 1160px;
	height: 500px;
	float:left;
}
.coating{
	width: 100%;
	height: 500px;
	float: left;
	position: absolute;
	background-color: #000;
	opacity: 0.5;
}
.your{
	position: absolute;
	left: 50%;
	top: 150px;
	margin-left: -240px;
}
.your input{
	height: 40px;
	width:480px;
	padding-left:15px;
	margin-bottom:20px;
	border: 2px solid #a1a1a1;
	background-color: transparent;
}
.your input:hover{
	border: 2px solid #07cbc9;
}
.your textarea{
	padding-left: 15px;
	padding-top: 10px;
	font-size: 13px;
	width: 480px;
	max-width: 480px;
	height: 100px;
	max-height: 150px;
	background-color: transparent;
	border: 2px solid #a1a1a1;
	margin-bottom:20px;
}
.your textarea:hover{
	border: 2px solid #07cbc9;
}
.send{
	position: relative;
	height: 40px;
	width: 180px;
	background-color: transparent;
	border: 2px solid #a1a1a1;
	left: 50%;
	margin-left: -90px;
	text-align: center;
	text-transform: uppercase;
}
.send a{
	position: relative;
	text-decoration: none;
	color: #a1a1a1;
	top: 9px;
}
.send:hover{
	border: 2px solid #07cbc9;
	background-color: #07cbc9;
}
.send:hover a{
	color: #fff;
}
.about{
	clear: left;
}
h1{
	text-align: center;
	padding-top: 50px;
}
.her{	
	float: left;
	position: relative;
	width: 40px;
	border: 1px solid #07cbc9;
	left: 50%;
	margin-left: -20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.lorem{
	clear: left;
	text-align: center;
	display: block;
	position: relative;
	width: 600px;
	left: 50%;
	margin-left: -300px;
}
.pd{
	position: relative;
	width: 1124px;
	height: 400px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.about img{
	float: left;
	width: 580px;
	position: relative;
}
.word{
	float: left;
	width: 250px;
	height: 350px;
	position: relative;
	z-index: 2;
}
.word span{
	text-transform: uppercase;
	font-size: 30px;
}
.word p{
	position: absolute;
	margin: 20px;
	width:300px; 
}
.wordbg{
	float: left;
	width: 320px;
	height: 230px;
	background-color: #fff;
	opacity: 0.5;
	border: 1px solid #a1a1a1;
}
.exp{
	position: absolute;
	width: 80px;
	height: 20px;
	border: 2px solid #000;
	background-color: #000;
	text-align: center;
	top:220px;
	left: 20px;
	padding: 10px;
}
.exp a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
.exp:hover{
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}
.exp:hover a{
	color: #000;
}
.students{
	position: relative;
	left: 50px;
	text-align: center;
	float: left;
	width: 240px;
	height: 145px;
	border: 1px solid #07cbc9;
	margin-right: 500px;
}
.faculty{
	position: relative;
	top: 50px;
	left: 50px;
	text-align: center;
	float: left;
	width: 240px;
	height: 145px;
	border: 1px solid #07cbc9;
}
.hera{
	position: relative;
	width: 40px;
	border: 1px solid #07cbc9;
	left: 50%;
	margin-left: -20px;
	top: 40px;
}
.students h2,.faculty h2{
	position: relative;
	top: 20px;
}
.students h5,.faculty h5{
	position: relative;
	top: 50px;
}