*{
	margin:0;
	padding:0;
}
body{
	min-width:1000px;
}
.header{
	background-color:#07cbc9;
	height:80px;
	width:100%;
}
.header img{
	float:left;
	position:relative;
	left:100px;
	top:12px;
}
.header ul{
	float:right;
}
.header ul li{
	float:left;
	list-style-type:none;
	padding:30px;
	margin-top:-1px;
}
.header ul li:hover{
	background-color: #000;
}
.header ul li a{
	font-size: 15px;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}